<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-10 sm:px-6 lg:px-8">
    <div class="text-center">
      <p
        class="
          mt-1
          text-4xl
          font-extrabold
          text-gray-900
          sm:text-5xl
          sm:tracking-tight
          lg:text-6xl
        "
      >
        The Movie Database - Angular App
      </p>
      <br />
      <section
        class="mx-auto text-center align-middle text-2xl font-bold underline"
      >
        <a href="#" (click)="onPress()"> Top 20 Movies Right Now </a>
      </section>
      <form action="#" class="mt-12 sm:mx-auto sm:max-w-lg sm:flex">
        <div
          class="
            w-full
            h-10
            pl-3
            pr-2
            bg-white
            border
            rounded-full
            flex
            justify-between
            items-center
            relative
          "
        >
          <input
            (keyup.enter)="search($event)"
            (keyup)="search($event)"
            type="text"
            name="search"
            id="search"
            placeholder="Write something to search. Actor, Movie or TV show"
            class="
              appearance-none
              w-full
              outline-none
              focus:outline-none
              active:outline-none
            "
          />
        </div>
      </form>
      <div *ngFor="let result of results">
        <h3 *ngIf="result.media_type === 'movie'">{{ result.title }} Movie</h3>
        <h3 *ngIf="result.media_type === 'person'">{{ result.name }} Actor</h3>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-movie-list *ngIf="display"></app-movie-list>
